apiVersion: v2
type: application
description: A Helm chart to deploy the Capsule Operator for easily implementing,
  managing, and maintaining mutitenancy and access control in Kubernetes.
home: https://github.com/projectcapsule/capsule
icon: https://github.com/projectcapsule/capsule/raw/main/assets/logo/capsule_small.png
dependencies:
  - name: capsule-proxy
    version: 0.6.0
    repository: "oci://ghcr.io/projectcapsule/charts"
    condition: proxy.enabled
    alias: proxy
keywords:
- kubernetes
- operator
- multi-tenancy
- multi-tenant
- multitenancy
- multitenant
- namespace
maintainers:
  - name: capsule-maintainers
    email: cncf-capsule-maintainers@lists.cncf.io
name: capsule
sources:
- https://github.com/projectcapsule/capsule
# Note: The version is overwritten by the release workflow.
version: 0.6.0
# Note: The version is overwritten by the release workflow.
appVersion: 0.5.0
annotations:
  artifacthub.io/operator: "true"
  artifacthub.io/prerelease: "false"
  artifacthub.io/category: security
  artifacthub.io/license: Apache-2.0
  artifacthub.io/maintainers: |
    - name: capsule-maintainers
      email: cncf-capsule-maintainers@lists.cncf.io
  artifacthub.io/links: |
    - name: Documentation
      url: https://capsule.clastix.io/
# artifacthub.io/changes: |
#   - kind: added
#     description: artifacthub annotations
#   - kind: changed
#     description: maintainers contact
