---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
  name: tenantowners.capsule.clastix.io
spec:
  group: capsule.clastix.io
  names:
    kind: TenantOwner
    listKind: TenantOwnerList
    plural: tenantowners
    singular: tenantowner
  scope: Cluster
  versions:
  - name: v1beta2
    schema:
      openAPIV3Schema:
        description: TenantOwner is the Schema for the tenantowners API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of TenantOwner.
            properties:
              aggregate:
                default: true
                description: |-
                  Adds the given subject as capsule user. When enabled this subject does not have to be
                  mentioned in the CapsuleConfiguration as Capsule User. In almost all scenarios Tenant Owners
                  must be Capsule Users.
                type: boolean
              clusterRoles:
                default:
                - admin
                - capsule-namespace-deleter
                description: Defines additional cluster-roles for the specific Owner.
                items:
                  type: string
                type: array
              kind:
                description: Kind of entity. Possible values are "User", "Group",
                  and "ServiceAccount"
                enum:
                - User
                - Group
                - ServiceAccount
                type: string
              name:
                description: Name of the entity.
                type: string
            required:
            - aggregate
            - kind
            - name
            type: object
          status:
            description: status defines the observed state of TenantOwner.
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
