---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
  name: capsuleconfigurations.capsule.clastix.io
spec:
  group: capsule.clastix.io
  names:
    kind: CapsuleConfiguration
    listKind: CapsuleConfigurationList
    plural: capsuleconfigurations
    singular: capsuleconfiguration
  scope: Cluster
  versions:
  - name: v1beta2
    schema:
      openAPIV3Schema:
        description: CapsuleConfiguration is the Schema for the Capsule configuration
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CapsuleConfigurationSpec defines the Capsule configuration.
            properties:
              administrators:
                description: |-
                  Define entities which can act as Administrators in the capsule construct
                  These entities are automatically owners for all existing tenants. Meaning they can add namespaces to any tenant. However they must be specific by using the capsule label
                  for interacting with namespaces. Because if that label is not defined, it's assumed that namespace interaction was not targeted towards a tenant and will therefor
                  be ignored by capsule.
                items:
                  properties:
                    kind:
                      description: Kind of entity. Possible values are "User", "Group",
                        and "ServiceAccount"
                      enum:
                      - User
                      - Group
                      - ServiceAccount
                      type: string
                    name:
                      description: Name of the entity.
                      type: string
                  required:
                  - kind
                  - name
                  type: object
                type: array
              allowServiceAccountPromotion:
                default: false
                description: |-
                  ServiceAccounts within tenant namespaces can be promoted to owners of the given tenant
                  this can be achieved by labeling the serviceaccount and then they are considered owners. This can only be done by other owners of the tenant.
                  However ServiceAccounts which have been promoted to owner can not promote further serviceAccounts.
                type: boolean
              enableTLSReconciler:
                default: false
                description: |-
                  Toggles the TLS reconciler, the controller that is able to generate CA and certificates for the webhooks
                  when not using an already provided CA and certificate, or when these are managed externally with Vault, or cert-manager.
                type: boolean
              forceTenantPrefix:
                default: false
                description: |-
                  Enforces the Tenant owner, during Namespace creation, to name it using the selected Tenant name as prefix,
                  separated by a dash. This is useful to avoid Namespace name collision in a public CaaS environment.
                type: boolean
              ignoreUserWithGroups:
                description: |-
                  Define groups which when found in the request of a user will be ignored by the Capsule
                  this might be useful if you have one group where all the users are in, but you want to separate administrators from normal users with additional groups.
                items:
                  type: string
                type: array
              nodeMetadata:
                description: |-
                  Allows to set the forbidden metadata for the worker nodes that could be patched by a Tenant.
                  This applies only if the Tenant has an active NodeSelector, and the Owner have right to patch their nodes.
                properties:
                  forbiddenAnnotations:
                    description: Define the annotations that a Tenant Owner cannot
                      set for their nodes.
                    properties:
                      denied:
                        items:
                          type: string
                        type: array
                      deniedRegex:
                        type: string
                    type: object
                  forbiddenLabels:
                    description: Define the labels that a Tenant Owner cannot set
                      for their nodes.
                    properties:
                      denied:
                        items:
                          type: string
                        type: array
                      deniedRegex:
                        type: string
                    type: object
                type: object
              overrides:
                default:
                  TLSSecretName: capsule-tls
                  mutatingWebhookConfigurationName: capsule-mutating-webhook-configuration
                  validatingWebhookConfigurationName: capsule-validating-webhook-configuration
                description: |-
                  Allows to set different name rather than the canonical one for the Capsule configuration objects,
                  such as webhook secret or configurations.
                properties:
                  TLSSecretName:
                    default: capsule-tls
                    description: |-
                      Defines the Secret name used for the webhook server.
                      Must be in the same Namespace where the Capsule Deployment is deployed.
                    type: string
                  mutatingWebhookConfigurationName:
                    default: capsule-mutating-webhook-configuration
                    description: Name of the MutatingWebhookConfiguration which contains
                      the dynamic admission controller paths and resources.
                    type: string
                  validatingWebhookConfigurationName:
                    default: capsule-validating-webhook-configuration
                    description: Name of the ValidatingWebhookConfiguration which
                      contains the dynamic admission controller paths and resources.
                    type: string
                required:
                - TLSSecretName
                - mutatingWebhookConfigurationName
                - validatingWebhookConfigurationName
                type: object
              protectedNamespaceRegex:
                description: Disallow creation of namespaces, whose name matches this
                  regexp
                type: string
              userGroups:
                description: |-
                  Deprecated: use users property instead (https://projectcapsule.dev/docs/operating/setup/configuration/#users)

                  Names of the groups considered as Capsule users.
                items:
                  type: string
                type: array
              userNames:
                description: |-
                  Deprecated: use users property instead (https://projectcapsule.dev/docs/operating/setup/configuration/#users)

                  Names of the users considered as Capsule users.
                items:
                  type: string
                type: array
              users:
                description: |-
                  Define entities which are considered part of the Capsule construct
                  Users not mentioned here will be ignored by Capsule
                items:
                  properties:
                    kind:
                      description: Kind of entity. Possible values are "User", "Group",
                        and "ServiceAccount"
                      enum:
                      - User
                      - Group
                      - ServiceAccount
                      type: string
                    name:
                      description: Name of the entity.
                      type: string
                  required:
                  - kind
                  - name
                  type: object
                type: array
            required:
            - enableTLSReconciler
            type: object
          status:
            description: CapsuleConfigurationStatus defines the Capsule configuration
              status.
            properties:
              users:
                description: Users which are considered Capsule Users and are bound
                  to the Capsule Tenant construct.
                items:
                  properties:
                    kind:
                      description: Kind of entity. Possible values are "User", "Group",
                        and "ServiceAccount"
                      enum:
                      - User
                      - Group
                      - ServiceAccount
                      type: string
                    name:
                      description: Name of the entity.
                      type: string
                  required:
                  - kind
                  - name
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
