{{- if .Values.tls.create }}
  {{- if not $.Values.crds.exclusive }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "capsule.post-install.name" . }}
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook-weight": "-4"
    {{- include "capsule.post-install.annotations" . | nindent 4 }}
  labels:
    app.kubernetes.io/component: {{ include "capsule.post-install.component" . | quote }}
    {{- include "capsule.labels" . | nindent 4 }}
  {{- end }}
{{- end }}