{{- if $.Values.manager.options.createConfiguration }}
apiVersion: capsule.clastix.io/v1beta2
kind: CapsuleConfiguration
metadata:
  name: {{ .Values.manager.options.capsuleConfiguration }}
  namespace: {{ $.Release.Namespace }}
  labels:
  {{- include "capsule.labels" . | nindent 4 }}
  {{- with .Values.manager.options.labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  annotations:
  {{- with (mergeOverwrite .Values.customAnnotations .Values.manager.options.annotations) }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  administrators:
    {{- toYaml .Values.manager.options.administrators | nindent 4 }}
  users:
    {{- toYaml .Values.manager.options.users | nindent 4 }}
  enableTLSReconciler: {{ .Values.tls.enableController }}
  overrides:
    mutatingWebhookConfigurationName: {{ include "capsule.fullname" . }}-mutating-webhook-configuration
    TLSSecretName: {{ include "capsule.secretTlsName" . }}
    validatingWebhookConfigurationName: {{ include "capsule.fullname" . }}-validating-webhook-configuration
  forceTenantPrefix: {{ .Values.manager.options.forceTenantPrefix }}
  allowServiceAccountPromotion: {{ .Values.manager.options.allowServiceAccountPromotion }}
  userGroups:
    {{- toYaml .Values.manager.options.capsuleUserGroups  | nindent 4 }}
  userNames:
    {{- toYaml .Values.manager.options.userNames | nindent 4 }}
  ignoreUserWithGroups:
    {{- toYaml .Values.manager.options.ignoreUserWithGroups | nindent 4 }}
  protectedNamespaceRegex: {{ .Values.manager.options.protectedNamespaceRegex | quote }}
  {{- with .Values.manager.options.nodeMetadata }}
  nodeMetadata:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
