{{- if or (not $.Values.crds.exclusive) ($.Values.webhooks.exclusive) }}
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ include "capsule.fullname" . }}-mutating-webhook-configuration
  labels:
    {{- include "capsule.labels" . | nindent 4 }}
  annotations:
  {{- if .Values.certManager.generateCertificates }}
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "capsule.fullname" . }}-webhook-cert
  {{-  end }}
  {{- with .Values.customAnnotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
webhooks:
{{- with (mergeOverwrite .Values.webhooks.hooks.pods .Values.webhooks.hooks.defaults.pods) }}
  {{- if .enabled }}
- name: pod.defaults.projectcapsule.dev
  admissionReviewVersions:
  - v1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/defaults" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  reinvocationPolicy: {{ .reinvocationPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    resources:
    - pods
    scope: "Namespaced"
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.mutatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with (mergeOverwrite .Values.webhooks.hooks.persistentvolumeclaims .Values.webhooks.hooks.defaults.pvc) }}
  {{- if .enabled }}
- name: storage.defaults.projectcapsule.dev
  admissionReviewVersions:
  - v1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/defaults" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  reinvocationPolicy: {{ .reinvocationPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    resources:
    - persistentvolumeclaims
    scope: "Namespaced"
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.mutatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with (mergeOverwrite .Values.webhooks.hooks.ingresses .Values.webhooks.hooks.defaults.ingress) }}
  {{- if .enabled }}
- name: ingress.defaults.projectcapsule.dev
  admissionReviewVersions:
  - v1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/defaults" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  reinvocationPolicy: {{ .reinvocationPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
  - apiGroups:
    - networking.k8s.io
    apiVersions:
    - v1beta1
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - ingresses
    scope: "Namespaced"
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.mutatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.gateways }}
  {{- if .enabled }}
- name: gateway.defaults.projectcapsule.dev
  admissionReviewVersions:
  - v1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/defaults" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  reinvocationPolicy: {{ .reinvocationPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
  - apiGroups:
    - gateway.networking.k8s.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - gateways
    scope: "Namespaced"
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.mutatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with (mergeOverwrite .Values.webhooks.hooks.namespaces .Values.webhooks.hooks.namespaceOwnerReference) }}
  {{- if .enabled }}
- name: namespaces.tenants.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/namespace-patch" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  reinvocationPolicy: {{ .reinvocationPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
        - ""
      apiVersions:
        - v1
      operations:
        - CREATE
        - UPDATE
      resources:
        - namespaces
      scope: '*'
  sideEffects: NoneOnDryRun
  timeoutSeconds: {{ $.Values.webhooks.mutatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.resourcepools.pools }}
  {{- if .enabled }}
- name: resourcepools.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/resourcepool/mutating" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  reinvocationPolicy: {{ .reinvocationPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
      - "capsule.clastix.io"
      apiVersions:
      - "*"
      operations:
        - CREATE
        - UPDATE
      resources:
      - resourcepools
      scope: '*'
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.mutatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.resourcepools.claims }}
  {{- if .enabled }}
- name: resourcepoolclaims.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/resourcepool/claim/mutating" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  reinvocationPolicy: {{ .reinvocationPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
      - "capsule.clastix.io"
      apiVersions:
      - "*"
      operations:
      - CREATE
      - UPDATE
      resources:
      - resourcepoolclaims
      scope: '*'
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.mutatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.tenants }}
  {{- if .enabled }}
- name: tenants.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/tenants/mutating" "ctx" $) | nindent 4 }}
  failurePolicy:  {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  reinvocationPolicy: {{ .reinvocationPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
        - capsule.clastix.io
      apiVersions:
        - v1beta2
      operations:
        - CREATE
        - UPDATE
        - DELETE
      resources:
        - tenants
      scope: 'Cluster'
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.mutatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.tenantLabel }}
  {{- if .enabled }}
- name: assignment.misc.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/misc/tenant-label" "ctx" $) | nindent 4 }}
  failurePolicy:  {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  reinvocationPolicy: {{ .reinvocationPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    {{- toYaml .rules |  nindent 4 }}
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.mutatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- end }}
