{{- if or (not $.Values.crds.exclusive) ($.Values.webhooks.exclusive) }}
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: {{ include "capsule.fullname" . }}-validating-webhook-configuration
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "capsule.labels" $ | nindent 4 }}
    {{- include "admission.labels" . | nindent 4 }}
  annotations:
    {{- include "admission.annotations" . | nindent 4 }}
webhooks:
{{- with .Values.webhooks.hooks.customresources }}
  {{- if .enabled }}
- name: customresources.misc.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/misc/customresources" "ctx" $) | nindent 4 }}
  failurePolicy:  {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
        - '*'
      apiVersions:
        - '*'
      operations:
        - CREATE
        - UPDATE
        - DELETE
      resources:
        - '*'
      scope: Namespaced
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.cordoning }}
  {{- if .enabled }}
- name: cordoning.misc.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/misc/cordoning" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .rules }}
  rules:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.devices }}
  {{- if .enabled }}
- name: devices.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/devices/validating" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
        - resource.k8s.io
      apiVersions:
        - v1
      operations:
        - CREATE
        - UPDATE
      resources:
        - resourceclaimtemplates
        - resourceclaims
      scope: Namespaced
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.gateways }}
  {{- if .enabled }}
- name: gateway.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/gateways/validating" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
        - gateway.networking.k8s.io
      apiVersions:
        - v1
      operations:
        - CREATE
        - UPDATE
      resources:
        - gateways
      scope: Namespaced
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.ingresses }}
  {{- if .enabled }}
- name: ingress.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/ingresses/validating" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
        - networking.k8s.io
        - extensions
      apiVersions:
        - v1
        - v1beta1
      operations:
        - CREATE
        - UPDATE
      resources:
        - ingresses
      scope: Namespaced
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.namespaces }}
  {{- if .enabled }}
- name: namespaces.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/namespaces/validating " "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
        - ""
      apiVersions:
        - v1
      operations:
        - CREATE
        - UPDATE
        - DELETE
      resources:
        - namespaces
        - namespaces/status
        - namespace/finalize
      scope: '*'
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.nodes }}
  {{- if .enabled }}
- name: nodes.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/nodes/validating" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
        - ""
      apiVersions:
        - v1
      operations:
        - UPDATE
      resources:
        - nodes
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.pods }}
  {{- if .enabled }}
- name: pods.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/pods/validating" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
        - ""
      apiVersions:
        - v1
      operations:
        - CREATE
        - UPDATE
      resources:
        - pods
        - pods/ephemeralcontainers
      scope: Namespaced
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.persistentvolumeclaims }}
  {{- if .enabled }}
- name: pvc.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/persistentvolumeclaims/validating" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
        - ""
      apiVersions:
        - v1
      operations:
        - CREATE
      resources:
        - persistentvolumeclaims
      scope: Namespaced
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.services }}
  {{- if .enabled }}
- name: services.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/services/validating" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
        - ""
      apiVersions:
        - v1
      operations:
        - CREATE
        - UPDATE
      resources:
        - services
      scope: Namespaced
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with (mergeOverwrite .Values.webhooks.hooks.managed .Values.webhooks.hooks.tenantResourceObjects) }}
  {{- if .enabled }}
- name: managed.tenant.projectcapsule.dev
  admissionReviewVersions:
    - v1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/misc/managed" "ctx" $) | nindent 4 }}
  failurePolicy: {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    {{- toYaml .rules | nindent 4 }}
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.tenants }}
  {{- if .enabled }}
- name: tenants.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/tenants/validating" "ctx" $) | nindent 4 }}
  failurePolicy:  {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
        - capsule.clastix.io
      apiVersions:
        - v1beta2
      operations:
        - CREATE
        - UPDATE
        - DELETE
      resources:
        - tenants
      scope: 'Cluster'
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.resourcepools.pools }}
  {{- if .enabled }}
- name: resourcepools.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/resourcepools/validating" "ctx" $) | nindent 4 }}
  failurePolicy:  {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
      - "capsule.clastix.io"
      apiVersions:
      - "*"
      operations:
      - CREATE
      - UPDATE
      resources:
      - resourcepools
      scope: '*'
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.resourcepools.pools }}
  {{- if .enabled }}
- name: resourcepoolclaims.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/resourcepools/claim/validating" "ctx" $) | nindent 4 }}
  failurePolicy:  {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
      - "capsule.clastix.io"
      apiVersions:
      - "*"
      operations:
      - CREATE
      - UPDATE
      - DELETE
      resources:
      - resourcepoolclaims
      scope: '*'
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.serviceaccounts }}
  {{- if .enabled }}
- name: serviceaccounts.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/serviceaccounts/validating" "ctx" $) | nindent 4 }}
  failurePolicy:  {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
        - '*'
      apiVersions:
        - '*'
      operations:
        - CREATE
        - UPDATE
      resources:
        - 'serviceaccounts'
      scope: Namespaced
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- with .Values.webhooks.hooks.config }}
  {{- if .enabled }}
- name: config.projectcapsule.dev
  admissionReviewVersions:
    - v1
    - v1beta1
  clientConfig:
    {{- include "capsule.webhooks.service" (dict "path" "/config/validating" "ctx" $) | nindent 4 }}
  failurePolicy:  {{ .failurePolicy }}
  matchPolicy: {{ .matchPolicy }}
  {{- with .namespaceSelector }}
  namespaceSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .objectSelector }}
  objectSelector:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  {{- with .matchConditions }}
  matchConditions:
    {{- toYaml . |  nindent 4 }}
  {{- end }}
  rules:
    - apiGroups:
        - capsule.clastix.io
      apiVersions:
        - v1beta2
      operations:
        - UPDATE
      resources:
        - capsuleconfigurations
      scope: 'Cluster'
  sideEffects: None
  timeoutSeconds: {{ $.Values.webhooks.validatingWebhooksTimeoutSeconds }}
  {{- end }}
{{- end }}
{{- end }}
