{{- $Values := mergeOverwrite $.Values.global.jobs.kubectl $.Values.jobs -}}

{{- if not $.Values.crds.exclusive }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ include "capsule.pre-delete.name" $ }}"
  labels:
    app.kubernetes.io/component: {{ include "capsule.pre-delete.component" . | quote }}
    {{- include "capsule.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook-weight": "-1"
    {{- include "capsule.pre-delete.annotations" . | nindent 4 }}
    {{- with $Values.annotations }}
      {{- . | toYaml | nindent 4 }}
    {{- end }}
spec:
  backoffLimit: {{ $Values.backoffLimit }}
  {{- if ge $Values.ttlSecondsAfterFinished 0.0 }}
  ttlSecondsAfterFinished: {{ $Values.ttlSecondsAfterFinished }}
  {{- end }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: {{ include "capsule.pre-delete.component" . | quote }}
        {{- include "capsule.selectorLabels" . | nindent 8 }}
    spec:
      restartPolicy: {{ $Values.restartPolicy }}
      {{- with $Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $Values.topologySpreadConstraints }}
      topologySpreadConstraints: 
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $Values.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      {{- with $Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "capsule.pre-delete.name" . }}
      containers:
        - name: pre-delete-job
          image: {{ include "capsule.jobsFullyQualifiedDockerImage" . }}
          imagePullPolicy: {{ $Values.image.pullPolicy }}
          command:
          - "/bin/sh"
          - "-c"
          - |
              set -o errexit ; set -o xtrace ; set -o nounset
          {{- if or (.Values.tls.create) (.Values.certManager.generateCertificates) }}
              kubectl delete secret -n $NAMESPACE {{ include "capsule.secretTlsName" $ }} --ignore-not-found
          {{- end }}
              kubectl delete clusterroles.rbac.authorization.k8s.io capsule-namespace-deleter capsule-namespace-provisioner --ignore-not-found
              kubectl delete clusterrolebindings.rbac.authorization.k8s.io capsule-namespace-deleter capsule-namespace-provisioner --ignore-not-found
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          {{- with $Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
{{- end }}