name: docs-lint
permissions: {}

on:
  push:
    branches: [ "*" ]
    paths:
      - '.github/workflows/docs-lint.yml'
      - 'docs/content/**'
  pull_request:
    branches: [ "*" ]
    paths:
      - '.github/workflows/docs-lint.yml'
      - 'docs/content/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  spelling:
    name: Spell Check
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: 18
      - run: make docs-lint