name: e2e-internal
permissions: {}

on:
  pull_request:
    branches:
      - "*"
    paths:
      - '.github/workflows/e2e.yml'
      - '.github/workflows/e2e-internal.yml'
      - 'api/**'
      - 'controllers/**'
      - 'internal/**'
      - 'pkg/**'
      - 'e2e/*'
      - 'Dockerfile'
      - 'go.*'
      - 'main.go'
      - 'Makefile'

jobs:
  internal-e2e:
    name: Trigger internal E2E Testing
    runs-on:
      labels: ubuntu-latest
    if: github.repository_owner == 'projectcapsule'
    steps:
      - name: Trigger internal e2e repo
        env:
          GH_TOKEN: ${{ secrets.INTERNAL_E2E_PAT }}
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer $GH_TOKEN" \
            https://api.github.com/repos/projectcapsule/enterprise-e2e/dispatches \
            -d "$(jq -n --arg ref "main" \
                      --arg pr_number "${{ github.event.pull_request.number }}" \
                      --arg sha "${{ github.sha }}" \
                      --arg repo "${{ github.repository }}" \
                      '{event_type:"internal-e2e", client_payload:{ref:$ref, pr_number:$pr_number, sha:$sha, repo:$repo}}')"
