name: Stale-Bot
permissions: {}

on:
  schedule:
    - cron: '0 0 * * *'  # Run every day at midnight

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write # only for delete-branch option
      issues: write
      pull-requests: write
    steps:
      - name: Close stale pull requests
        uses: actions/stale@dcd2b9469d2220b7e8d08aedc00c105d277fd46b
        with:
          stale-issue-message: 'This issue is stale because it has been open 60 days with no activity. Remove stale label or comment or this will be closed in 30 days.'
          stale-pr-message: 'This pull request has been marked as stale because it has been inactive for more than 30 days. Please update this pull request or it will be automatically closed in 30 days.'
          days-before-issue-stale: 60
          days-before-pr-stale: 30
          days-before-issue-close: 30
          days-before-pr-close: 30
          stale-pr-label: stale
